* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.hidden {
    visibility: hidden !important;
}
.logo {
    position: fixed;
    height: 63px;
    width: 63px;
    top: 5px;
    left: 35px;
    z-index: 1000;
    cursor: pointer;
}
#bucketBtn {
    position: fixed;
    height: 40px;
    width: 40px;
    top: 20px;
    right: 50px;
    z-index: 1000;
    cursor: pointer;
}
#menuBucketItemsCount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    top: 20px;
    right: 15px;
    border: 1px solid black;
}
.logo img, #bucketBtn img {
    width: 100%;
    height: 100%;
}
header {
    height: 100vh;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
header img {
    position: absolute;
    height: 97%;
    top: 30px;
    z-index: -100;
}
.mainMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}
.mainMenu a:nth-child(1) {
    margin-right: 35px;
}
.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    height: 100%;
}
.pmenu {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #040404;
    transition: color 0.25s ease-in-out;
    cursor: pointer;
}
.pmenu:hover {
    color: grey;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    position: relative;
    height: 100%;
}
#siteStyle {
    font-size: 14px;
    color: white;
    font-weight: 300;
    transition: color 0.25s ease-in-out;
    cursor: pointer;
    background: black;
    border-radius: 25px;
    padding: 10px 20px;
}
.menu:hover #stylesMenu{
    visibility: visible;
    opacity: 1;
}
#stylesMenu {
    position: absolute;
    visibility: hidden;
    transition: 0.35s ease-in-out;
    opacity: 0;
    left: 0;
    bottom: -150px;
    width: 100%;
    height: 150px;
    background-color: #DADADA;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#stylesMenu a {
    margin-right: 0;
}
.styleOption {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    align-items: center;
    color: black;
    transition: color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
}
.styleOption:hover {
    background: #2F2E2E;
    color: white;
}
.section {
    width: 1440px;
    margin-bottom: 50px;
}
.section1 {
    margin-top: 90px;
    background: url('../imgs/index/SocialConcept.png');
    height: 958px;
}
.section2 {
    position: relative;
    height: 619px;
}
.section2 .leftTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 570px;
    height: 388px;
    background: linear-gradient(65.98deg, #F5F5F5 65.96%, rgba(245, 245, 245, 0) 97.74%);
    border-radius: 10px;
}
.section2 .leftTop .info .title{
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    color: #5F5D5D;
}
.section2 .leftTop .info .price{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #5F5D5D;
}
.section2 .leftTop .info {
    position: absolute;
    bottom: 30px;
    right: 40px;
}
.section2 .rightTop {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 900;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0.06em;
    color: #000000;
}
.section2 .rightTop .mom {
    color: #9A1B1B;
}
.section2 .leftBottom {
    position: absolute;
    left: 0;
    bottom: 0;
}
.section2 .rightBottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 570px;
    height: 388px;
    background: linear-gradient(322deg, #F5F5F5 63.32%, rgba(245, 245, 245, 0) 89.44%);
    border-radius: 10px;
}
.section2 .rightBottom .info {
    position: absolute;
    bottom: 30px;
    left: 40px;
}
.section2 .rightBottom img{
    position: absolute;
    right: 60px;
}
.section2 .rightBottom .info .title{
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    color: #5F5D5D;
}
.section2 .rightBottom .info .price{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #5F5D5D;
}
.section3 {
    height: 720px;
    position: relative;
}
.section3 .bg {
    position: absolute;
    right: 0;
    top: 70px;
    z-index: -200;
}
.section3 .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 720px;
    height: 720px;
}
.section3 .cards .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.section3 .cards .row .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 340px;
    height: 340px;
    border-radius: 10px;
    z-index: 200;
}
.section3 .cards .row .card .name{
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #5F5D5D;
}
.section3 .cards .row .card .price{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #5F5D5D;
    margin-bottom: 14px;
}
.section3 .cards .row .first {
    background: linear-gradient(134.64deg, #F5F5F5 2.27%, rgba(245, 245, 245, 0) 96.6%);
}
.section3 .cards .row .second {
    background: linear-gradient(223.97deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 94.5%);
}
.section3 .cards .row .third {
    background: linear-gradient(48.44deg, #F5F5F5 -11.13%, rgba(245, 245, 245, 0) 107.92%);
}
.section3 .cards .row .fourth {
    background: linear-gradient(314.11deg, #F5F5F5 6.25%, rgba(245, 245, 245, 0) 100%);
}
.section4 {
    height: 645px;
    background: url('../imgs/index/HoldMyHand.png');
}
.section5 {
    height: 541px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.section5 .card .name{
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    margin-top: 38px;
    margin-bottom: 10px;
    color: #5F5D5D;
}
.section5 .card .price{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #5F5D5D;
}
.section5 .card {
    width: 480px;
    height: 541px;
    background: linear-gradient(66.47deg, #F5F5F5 63.32%, rgba(245, 245, 245, 0) 89.44%);
    mix-blend-mode: normal;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section6 {
    height: 578px;
    background: url('../imgs/index/Magazin.png');
    margin-bottom: 97px;
}
footer {
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;
}
.contacts, .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.info {
    margin-left: 115px;
}
.footerTitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.03em;
    margin-bottom: 15px;
}
.footerLink {
    font-weight: 300;
    margin-bottom: 9px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.footerLink img{
    margin-right: 10px;
}
.footerLink, .footerTitle {
    color: white;
}